body{
	margin: 0;
	padding: 0 25vw;
	
}

body > a {
	float: right;
}

#links-block {
	height: 100dvh;
	text-align: center;
	align-content: center;
}

#capital {
	text-align: center;
	cursor: default;
}

h2 {
	font-family: Arial, sans-serif;
	font-size: 2em;
	color: black;
	margin: 20px 0 10px;
	
}

#capital p {
	font-family: Georgia, serif;
	font-size: 1em;
	color: #333333;
	text-decoration: underline;
	margin: 0 0 10px;
}

footer {
	position: fixed;
	width: 100vw;
	height: 10vh;
	background: linear-gradient(90deg, #31163A, #4C235B);
	left: 0;
	bottom: 0;
	color: white;
	align-content: center;
	padding-left: 20px;
	font-size: 1.25em;
	cursor: default;
}